*{
  box-sizing:border-box;
  font-family: Arial;
  margin:0;
  padding:0;
}
header{
  position:relative;
}
#titolo{
  font-weight:bold;
  height:80px;  
  line-height: 80px;
}
h1{
  display:inline-block;
}
.logo{
  position:relative;
  top:50%;
  transform: translate(0,-50%);
}

.mainContainer{
  background-color: rgb(224, 224, 224);

}

.container{
  background-color:white;
  width:70vw;
  margin:auto;
}