*{
  box-sizing:border-box;
  font-family: Arial;
  margin:0;
  padding:0;
}
.inizio{
  position:relative;
}
#titolo{
  font-weight:bold;
  height:80px;  
  line-height: 80px;
}
h1{
  display:inline-block;
}
.logo{
  position:relative;
  top:50%;
  transform: translate(0,-50%);
}

.firstContainer{
  background-color:rgb(246, 248, 249);
  padding-top:5vh;
}

.secondContainer{
  background-color:white;
  width:70vw;
  margin:auto;
  border-radius:10px;
}

.thirdContainer{
  margin:auto;
  width:60vw;
}
hr{
  border:1px solid rgb(246,248,249);
}
nav{
  padding-top:2vh;
  padding-bottom:1vh;

}

button.celeste{
  background-color: rgb(0, 153, 255);
  border: 1px solid rgb(0, 153, 255);
}
button{
  padding:1vh 1vw;
  border-radius:5px;
  color: white;
}
button.bianca{
  color:grey;
  background-color: white;
  border:1px solid grey;
}
